<web-app>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>name</param-name>
        <param-value>Coder Sandeep Patel</param-value>
    </context-param>

    <listener>
        <listener-class>MyListener</listener-class>
    </listener>

    <servlet>
        <servlet-class>GenericServletEx1</servlet-class>
        <servlet-name>GenericServletEx1</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>HttpServletEx1</servlet-class>
        <servlet-name>HttpServletEx1</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>HandelingClientRequest</servlet-class>
        <servlet-name>HandelingClientRequest</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>GettingAllClientInfoServlet</servlet-class>
        <servlet-name>GettingAllClientInfoServlet</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>ReadingFormData</servlet-class>
        <servlet-name>ReadingFormData</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>OverridingInit</servlet-class>
        <servlet-name>OverridingInit</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>ReadingInitParameter</servlet-class>
        <servlet-name>ReadingInitParameter</servlet-name>
        <init-param>
            <param-name>email</param-name>
            <param-value>sandeepp3579@gmail.com</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-class>ReadingContextParameter</servlet-class>
        <servlet-name>ReadingContextParameter</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>HandelingServletContextEvent</servlet-class>
        <servlet-name>HandelingServletContextEvent</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>ResponseSendRedirectToUsersBrowser</servlet-class>
        <servlet-name>ResponseSendRedirectToUsersBrowser</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>ForwardEx1</servlet-class>
        <servlet-name>ForwardEx1</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>DisplayResultServlet</servlet-class>
        <servlet-name>DisplayResultServlet</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>IncludeEx1</servlet-class>
        <servlet-name>IncludeEx1</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>AddMoreContentServlet</servlet-class>
        <servlet-name>AddMoreContentServlet</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>ServletUsingServletInterface</servlet-name>
        <servlet-class>ServletUsingServletInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sandeep</servlet-name>
        <servlet-class>fetch_info.FetchClientInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>fetch_info.Demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletHandelingCookie</servlet-name>
        <servlet-class>Cookies.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletHandelingCookie1</servlet-name>
        <servlet-class>Cookies.Servlet2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servletHandelingCookie1</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletHandelingCookie</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpServletEx1</servlet-name>
        <url-pattern>/HttpServletEx1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericServletEx1</servlet-name>
        <url-pattern>/GenericServletEx1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandelingClientRequest</servlet-name>
        <url-pattern>/HandelingClientRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GettingAllClientInfoServlet</servlet-name>
        <url-pattern>/GettingAllClientInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadingFormData</servlet-name>
        <url-pattern>/ReadingFormData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OverridingInit</servlet-name>
        <url-pattern>/OverridingInit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadingInitParameter</servlet-name>
        <url-pattern>/ReadingInitParameter</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadingContextParameter</servlet-name>
        <url-pattern>/ReadingContextParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandelingServletContextEvent</servlet-name>
        <url-pattern>/HandelingServletContextEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseSendRedirectToUsersBrowser</servlet-name>
        <url-pattern>/ResponseSendRedirectToUsersBrowser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwardEx1</servlet-name>
        <url-pattern>/ForwardEx1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayResultServlet</servlet-name>
        <url-pattern>/DisplayResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncludeEx1</servlet-name>
        <url-pattern>/IncludeEx1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMoreContentServlet</servlet-name>
        <url-pattern>/AddMoreContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsingServletInterface</servlet-name>
        <url-pattern>/servlet-using-servlet-interface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sandeep</servlet-name>
        <url-pattern>/FetchClientInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/Demo</url-pattern>
    </servlet-mapping>
</web-app>